<nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
  <div class="uk-navbar-center">
    <ul class="uk-navbar-nav">
      <li><a href="/">Decks<span class="uk-margin-small-left" uk-icon="icon: album"></a></li>
      <li><a class="add-card" href="#add-card" uk-toggle>Add Card<span class="uk-margin-small-left" uk-icon="icon: plus-circle"></a></li>
      <li><a class="all-cards" href="#all-cards" uk-toggle>All Cards<span class="uk-margin-small-left" uk-icon="icon: copy"></a></li>
      <li><a href="/decks/settings/{{currentDeck.id}}">Toolbar<span class="uk-margin-small-left" uk-icon="icon: settings"></a></li>
    </ul>
  </div>
</nav>
</div>
<div id="all-cards" class="uk-flex-top uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-padding-remove">
    <div class="uk-padding-small" style="background: linear-gradient(to left, #28a5f5, #1e87f0);">
      <h4 class="browse-cards-title">Browse Cards: {{ currentDeck.title }}</h4>
    </div>
    <div class="uk-grid-small uk-child-width-expand@s uk-padding" uk-grid>
      <div class="uk-width-1-1">
        <input type="text" class="search-cards uk-input uk-margin-bottom" name="" value="" placeholder="search cards by front or back value">
        <div class="all-cards-table-container" style="height: 300px; overflow: scroll;">
          <table class="uk-table uk-table-striped uk-table-hover">
            <thead>
              <tr>
                <th>Front</th>
                <th>Back</th>
                <th>ID</th>
              </tr>
            </thead>
            <tbody class="all-cards-table-body">
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <div class="browse-success-message">
        </div>
        <div class="all-cards-edit-card-container">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="add-card" class="uk-flex-top" uk-modal>
  <div class="add-card-form-container uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <div class="uk-padding-small uk-margin-bottom" style="background: linear-gradient(to left, #28a5f5, #1e87f0);">
      <h4 class="browse-cards-title">Add Card: {{ currentDeck.title }}</h4>
    </div>
    <form class="add-card-form">
    </form>
  </div>
</div>
<div class="uk-section uk-padding-remove">
  <div class="uk-container">
    <h1 class="uk-text-center">{{ currentDeck.title }}</h1>
    <div class="card-count-container">
      <div id="card-count">
        <h4 class="uk-text-center uk-margin-remove">{{ currentDeck.cards.length }}
          {{#eq currentDeck.cards.length 1}}
            card
          {{else}}
            cards
          {{/eq}}
        </h4>
      </div>
    </div>
    <div class="top-button-container-outer uk-margin-top">
      <div class="top-button-container-inner">
        {{#eq currentDeck.cards.length 0}}
          <button class="add-card uk-align-center uk-button uk-button-primary" href="#add-card" uk-toggle>Add First Card!</button>
          {{else}}
            <button class="study-now uk-align-center uk-button uk-button-primary">Study Now</button>
        {{/eq}}
      </div>
    </div>
    <div class="success-container"></div>
    <div class="progress-bar-container uk-container uk-container-small uk-margin-bottom"></div>
    <div class="study-container uk-container uk-container-small uk-margin-bottom">
    </div>
  </div>
</div>
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
<script src="/add-card.js"></script>
<script src="/study.js"></script>
<script src="/browse-cards.js"></script>
