<nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
  <div class="uk-navbar-center">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href="/">Decks</a></li>
      <li><a href="#add-deck-modal" uk-toggle="">Add Deck</a></li>
    </ul>
  </div>
</nav>
<div class="add-deck-modal" id="add-deck-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Add Deck</h2>
      <div class="uk-margin">
        <input class="add-deck-input uk-input" type="text" name="title" placeholder="Name">
        </div>
        <div class="add-deck-submit-alert"></div>
        <p class="uk-text-right">
          <button class="add-deck-cancel uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
          <button class="add-deck-submit uk-button uk-button-primary" type="submit" onClick="addDeck()" disabled>Add</button>
        </p>
  </div>
</div>
<div class="rename-deck-modal" id="rename-deck-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Rename Deck</h2>
      <div class="uk-margin">
        <input class="rename-deck-input uk-input" type="text" placeholder="Name" name="newTitle">
        <input class="rename-deck-id" type="hidden" name="deckId">
      </div>
        <div class="rename-deck-submit-alert"></div>
        <p class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">Nevermind</button>
          <button class="rename-deck-submit uk-button uk-button-primary" type="submit" onClick="renameDeck()">Rename</button>
        </p>
      </div>
  </div>
  <div class="delete-deck-modal" id="delete-deck-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <p>Are you sure you want to delete this deck?</p>
        <input class="delete-deck-id" type="hidden" name="deckId">
        <p class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">No</button>
          <button class="delete-deck-submit uk-button uk-button-primary" type="submit" onClick="deleteDeck()">Yes</button>
        </p>
    </div>
  </div>
  <div class="flash-container uk-container">
  </div>
  <div class="table-wrapper-outer uk-section uk-padding-small">
    <div class="table-wrapper-inner uk-container">
      <table class="deck-table uk-table uk-table-hover uk-table-divider">
        <thead>
          <tr>
            <th>Decks</th>
            <th>Cards</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody class="deck-table-body uk-table-middle">
          {{#each decks}}
            <tr class="deck-row-{{this._id}}" data-id="{{this._id}}">
              <td class="deck-title-{{this._id}}"><a href="/decks/{{this._id}}">{{this.title}}</a></td>
              <td>{{this.cards.length}}</td>
              <td>
                <div class="uk-inline">
                  <button class="uk-button uk-button-default" type="button"><span uk-icon="cog"></span></button>
                  <div uk-dropdown="pos: bottom-justify; mode: click" class="uk-padding-small">
                    <ul class="uk-nav uk-dropdown-nav">
                      <li><span class="uk-margin-small-right" uk-icon="icon: pencil"></span><a href="#rename-deck-modal" class="rename-deck" uk-toggle>Rename</a></li>
                      <li><span class="uk-margin-small-right" uk-icon="icon: trash"></span><a href="#delete-deck-modal" class="delete-deck" uk-toggle>Delete</a></li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <script src="/home.js"></script>
